.card-image-wrapper {
    display: block !important; /* Avoid extra div CSS adjustment. Need to override lazyloads inline styling. */
    height: 300px !important;
    width: 225px !important;
}

.card-image-container:hover {
    cursor: pointer;
    border: 10px solid blue;
    transition: 350ms ease;
    border-radius: 10px;
}
